{% load i18n %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
	<title>{% translate "login page" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'taskmanager/style/authpages.css' %}">
</head>
<body>

{% block testblock %}
{% endblock testblock %}


    <form method="post" action="{% url 'login' %}" class="main-form">
        {% csrf_token %}

        <label for="username">{% translate "User name: " %}</label>
        {{ form.username }}
        {{ form.username.errors }}

        <label for="password">{% translate "Password: " %} </label>
        {{ form.password }}
        {{ form.password.errors }}

        {% if form.errors %}
            {{ form.non_field_errors }}
        {% endif %}

        <input type="submit" value="{% translate 'sign in' %}">
        <input type="hidden" name="next" value="{{ next }}">

        <a href="{% url 'register' %}">{% translate "Register" %}</a>
    </form>
    
    {% block switch_lang_button %}
    {% endblock switch_lang_button %}

</body>
</html>
