{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
        
{% block title %}
    <title>task manager</title>
{% endblock title %}

{% block extrahead %}
    <script type="text/javascript">
        window.onload = () => {
            launchApp(_mainContainer, {LOCALE_TAG: '{{ language_code }}'})
        }
    </script>
    <script defer="defer" src="{% static 'taskmanager/main.99370da16d263653ac3b.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'taskmanager/style/index.css' %}">
{% endblock extrahead %}  

{% block maincontent %}
    <div id="_main-container" class="center-element"></div>
{% endblock maincontent %}
