{% load static %}
{% load i18n %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <title>{% translate "user settings" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/style/authpages.css' %}">
</head>
<body>
    <form method="POST" action="{% url 'password_change' %}" class="main-form">
        {% csrf_token %}

        <label for='old_password'>{% translate "Old password: " %}</label>
		{{ form.old_password }}
        {{ form.old_password.errors }}
        <label for='new_password1'>{% translate "New password:" %}</label>
        {{ form.new_password1 }}
		{{ form.new_password1.errors }}
		<label for='new_password2'>{% translate "New password again:" %}</label>
		{{ form.new_password2 }}
        {{ form.new_password2.errors }}

        <input type="submit" value={% translate "Change" %}>
        
    </form>

    {% include "registration/swithlangbutton.html" %}

</body>
</html>