{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    <title>{% translate 'Password reset' %}</title>
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/style/authpages.css' %}">
{% endblock extrahead %}


{% block maincontent %}
    <form method="POST" action="{% url 'password_reset' %}" class="main-form">{% csrf_token %}
        <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

        {{ form.email.errors }}
        {{ form.email }}
    <input type="submit" value="{% translate 'Reset my password' %}">
</form>
{% endblock maincontent %}
