{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>

    {% block title %}
        <title>{% translate "registration page" %}</title>
    {% endblock title %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'users/style/authpages.css' %}">
    {% endblock extrahead %}

    {% block maincontent %}
        <form method="POST" action="{% url 'register' %}" class="main-form">
            {% csrf_token %}

            <h1>Register</h1>

            {% for field in form %}
                <label for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            {% endfor %}

            {% comment %} <label for='username'>{% translate "User name" %}</label>
            {{ form.username }}
            {{ form.username.errors }}
            <label for='email'>{% translate "Email" %}</label>
            {{ form.email }}
            {{ form.email.errors }}
            <label for='password'>{% translate "Password" %}</label>
            {{ form.password1 }}
            {{ form.password.errors }}
            <label for='password2'>{% translate "Password again" %}</label>
            {{ form.password2 }}
            {{ form.password2.errors }} {% endcomment %}

            <input type="submit" value={% translate "Register" %}>
            
            <a href="{% url 'login' %}">{% translate "Sign in" %}</a>
        </form>
    {% endblock maincontent %}
</body>
</html>
