{% load i18n %}

{% block switch_lang_button %}

    {% get_current_language as LANGUAGE_CODE %}
    {% get_language_info for LANGUAGE_CODE as curr_lang %}

    <div class="set-user-language"> 

        <span class="lang-tag">{{ curr_lang.code|upper }}</span>

        <svg viewBox="0 0 638 1030" class="arrow-icon">
            <path d="M68 13l558 476q12 11 12 26t-12 26L68 1017q-19 16-43.5 7T0 991V39Q0 15 24.5 6T68 13z"></path>
        </svg>

        {% get_available_languages as AVAILABLE_LANGUAGES %}
        {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
        
        <form action="{% url 'set_language' %}" method="POST" class="dropdown-content"> {% csrf_token %}    
            {% for lang in languages %}
                <button type="submit" name="language" value="{{ lang.code }}" class="dropdown-item">{{ lang.name_local }}</button>
            {% endfor %}
        </form>
        
    </div>

{% endblock switch_lang_button %}

